<?xml version="1.0" encoding="utf-8"?>
<Atheneum>
  <version>5.2.0906</version>
  <url>https://raw.github.com/RogenBenastra/Atheneum/main/bin/arch.zip</url>
<changes>
  <change>none</change>
  </changes>
    <sha256>09b2fb260f5d52d3c46c6dd391adc26451c16b316eef213c1edd374528d121ee</sha256>
<archive>vk.cc/d0eMSZ</archive>
<minVersion>5.2.0906</minVersion>
</Atheneum>